body {
    width: 100%; 
}

.container_admin {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.container_admin .menu_admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    background-color: var(--header-color); 
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
}

.menu_admin .leave_admin, .menu_admin .editar-perfil {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.menu_admin div:hover {
    text-decoration: none
}

.menu_admin:hover {
    opacity: 80%;
}

.leave_admin img {
    width: 75px;
}

.leave_admin h6 {
    font-size: 2rem;
    margin-top: 10px;
}

.editar-perfil {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editar-perfil i {
    font-size: 7rem;
}

.editar-perfil h6 {
    font-size: 1.7rem;
}



h2{
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 3.5rem;
    background: var(--text-blue-gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;
    text-align: center;
}

.menu{
    display: flex; 
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0;
    padding: 80%;
}

