body {
    width: 100%;
}

h2{
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 3.5rem;
    background: var(--text-blue-gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;
    text-align: center;
}

.menu{
    display: flex; 
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0;
    padding: 80%;
}

button{
    align-items: center;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s;
    background: linear-gradient(var(--header-color), var(--header-color)) padding-box, var(--blue-gradient-color) border-box;
}